{% extends 'main.html' %}
{% load static %}

{% block title %}
    Cart
{% endblock title %}

{% block body %}

<h1>{{request.user.username}}'s Cart</h1>
{% if cartItems %}
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Measurement Sold</th>
            <th>Unit Price</th>
            <th>Packages Ordered</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cartItems %}
        <tr>
            <td>{{item.product.name}}</td>
            <td>{{item.product.quantity}}</td>
            <td>${{item.product.price|floatformat:2}}</td>
            <td>{{item.quantity}}</td>
            <td>${{item.total_price|floatformat:2}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'addToCart' item.product.id %}" style="width: absolute;">Add</a>
                <a href="{% url 'removeFromCart' item.product.id %}" class="btn btn-danger">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<h3>Total Cart Price: ${{ total_price|floatformat:2 }}</h3>

<a class="btn btn-primary" href="{% url 'shop' %}">Continue Shopping</a>

<a class="btn btn-secondary" href="{% url 'checkout' %}">Checkout</a>

{% else %}

<h1>Your cart is empty.</h1>
<a class="btn btn-primary" href="{% url 'shop' %}">Start Shopping</a>

{% endif %}

{% endblock body %}
