{% extends 'main.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block body %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    
    .bd-img {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }

    .bd-img1 {
      background-image: url("{% static 'images/Ad_1.jpg' %}");
    }

    .bd-img2 {
      background-image: url("{% static 'images/Ad_2.jpg' %}");
    }

    .bd-img3 {
      background-image: url("{% static 'images/Ad_3.jpg' %}");
    }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
    /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: rgb(var(--bs-tertiary-color-rgb));
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
</style>
<link href="carousel.css" rel="stylesheet">
      <main>
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active bd-placeholder-img bd-img bd-img1">
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Welcome to GoodGrocer.</h1>
                  <p class="opacity-75">Your friendly neighbourhood grocery store.</p>
                  <p><a class="btn btn-lg btn-primary" href="{% url 'shop' %}">Start shopping</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item bd-placeholder-img bd-img bd-img2">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Mind-blowing deals</h1>
                  <p class="opacity-75">You can save about 20-50% on daily groceries with us.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Browse deals</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item bd-placeholder-img bd-img bd-img3">
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>Supporting Local Farmers.</h1>
                  <p class="opacity-75">Most of our products are sourced from community farmers.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
      
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
      
        <div class="container marketing">
      
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img src="{% static 'images/heading1.jpg' %}" alt="Image 1" class="bd-placeholder-img rounded-circle" width="140" height="140">
              <h2 class="fw-normal">Fruit & Veg</h2>
              <p>Buy fresh fruits and vegetables and maintain that healthy spirit. A sound mind in a sound body.</p>
              <p><a class="btn btn-secondary" href="#">Shop Now &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="{% static 'images/heading2.jpg' %}" alt="Image 1" class="bd-placeholder-img rounded-circle" width="140" height="140">
              <h2 class="fw-normal">Snacks & Drinks</h2>
              <p>Sometimes, it's good to give in the cravings. Try our latest range of healthy baked snacks.</p>
              <p><a class="btn btn-secondary" href="#">Shop Now &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="{% static 'images/heading3.jpg' %}" alt="Image 1" class="bd-placeholder-img rounded-circle" width="140" height="140">
              <h2 class="fw-normal">Laundry & Cleaning</h2>
              <p>Nobody can escape the dishes. Stock up on cleaning supplies before the big winter.</p>
              <p><a class="btn btn-secondary" href="#">Shop Now &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
      
      
          <!-- START THE FEATURETTES -->
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Comfortable shopping experience. <span class="text-body-secondary">That’ll blow your mind.</span></h2>
              <p class="lead">Order groceries from anywhere, anytime without any hassle.</p>
            </div>
            <div class="col-md-5">
              <img src="{% static 'images/feature1.jpg' %}" alt="Comfortable Shopping Experience" class="featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">Reliable delievery service. <span class="text-body-secondary">Fast and trustworthy.</span></h2>
              <p class="lead">Place order from the office, and your groceries will be home before you ;)</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="{% static 'images/feature2.jpg' %}" alt="Comfortable Shopping Experience" class="featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Granted customer satisfaction. <span class="text-body-secondary">That's a checkmate.</span></h2>
              <p class="lead">Try our services today, and see for yourself.</p>
            </div>
            <div class="col-md-5">
              <img src="{% static 'images/feature3.jpg' %}" alt="Comfortable Shopping Experience" class="featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <!-- /END THE FEATURETTES -->
      
        </div><!-- /.container -->
      </main>
{% endblock body %}