{% extends 'main.html' %}
{% load static %}

{% block title %}
    Final
{% endblock title %}

{% block body %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3 text-center">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Your order has been placed. Order ID:{{user.cart.id}}</h1>
      <p class=" fs-4 text-center">
        Our online team will start packing your order right away and it will be delivered shortly to your provided address.
      </p>
      <a class="btn btn-primary" href="{% url 'home' %}" style="width: absolute;">Continue shopping</a>

      <a class="btn btn-secondary" href="{% url 'shop' %}" style="width: absolute;">Home Page</a>
    </div>
    <div>
        <img src="{% static 'images/thankyou.jpg' %}"  width="100%" height="440">
    </div>
  </div>
{% endblock body %}